<section class='content'>
  <section class='header'>
    {{#if discipline}}
    <div class='school'>
      {{#with
      (lookup @root.psionics.disciplines discipline)
      as |disciplineConfig|
      }}
      <dnd5e-icon src='{{disciplineConfig.icon}}'></dnd5e-icon>
      {{/with}}
    </div>
    {{/if}}
    <div class='top'>
      <img src='{{img}}' alt='{{name}}' />
      <div class='name name-stacked'>
        <span class='title'>{{name}}</span>
        <span class='subtitle'>{{{subtitle}}}</span>
      </div>
    </div>
    <div class='bottom'>
      <div class='charges'>
        {{#if uses.max}}
        <span class='value'>{{uses.value}}</span>
        <span class='separator'>&sol;</span>
        <span class='max'>{{uses.max}}</span>
        <span>{{localize 'DND5E.Charges'}}</span>
        {{/if}}
      </div>
    </div>
  </section>
  <ul class='info unlist'>
    {{#if augments}}
    <li>
      <strong>{{localize 'PrimePsionics.Augmenting'}}:</strong>
      <span class='value'>
        <em>{{augments}}</em>
      </span>
    </li>
    {{/if}}
    {{#if pp}}
    <li>
      <strong>{{localize 'PrimePsionics.PsiCost'}}:</strong>
      <span class='value'>
        {{pp}}
      </span>
    </li>
    {{/if}}
    <li>
      <strong>{{localize 'PrimePsionics.ManifestTime'}}:</strong>
      <span class='value'>
        {{labels.activation}}
        {{#if activation.condition}}
        <span class='condition'>({{activation.condition}})</span>
        {{/if}}
      </span>
    </li>
    <li>
      <strong>{{localize 'DND5E.Range'}}:</strong>
      <span class='value'>{{labels.range}}</span>
    </li>
    <li>
      <strong>{{localize 'DND5E.Target'}}:</strong>
      <span class='value'>{{labels.target}}</span>
    </li>
    <li>
      <strong>{{localize 'DND5E.Components'}}:</strong>
      <span class='value'>
        {{labels.components.ao}}
      </span>
    </li>
    <li>
      <strong>{{localize 'DND5E.Duration'}}:</strong>
      <span class='value'>{{labels.concentrationDuration}}</span>
    </li>
  </ul>
  <section class='description'>{{{description.value}}}</section>
  <ul class='pills'>
    {{#each tags}}
    <li class='pill pill-sm'>
      <span class='label'>{{this}}</span>
    </li>
    {{/each}}
  </ul>{{#if controlHints}}
  <div class="control-hint lock-hint">
    <img src="systems/dnd5e/icons/svg/mouse-middle.svg" alt="{{ localize " DND5E.Controls.MiddleClick" }}">
    <span>{{ localize "DND5E.Controls.LockHint" }}</span>
  </div>
  {{/if}}
</section>